<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Tableau de Contrôle Table <%= tableNum %></title>
    <link rel="stylesheet" href="/css/control.css" />
  </head>
  <body>
    <section class="timer_animation_winner">
      <div class="chrono-container left column">
        <div class="reset-new">
          <button class="btn-1" id="reset">
            <span class="icon">🔄</span> Reset Temps
          </button>
          <button class="btn-1" id="new-match">
            <span class="icon">🆕</span> Nouveau Combat
          </button>
        </div>
        <div class="time">2:49</div>
        <div class="row">
          <button class="btn-1" id="start">
            <span class="icon">⏯️</span> Hajime
          </button>

          <img
            class="img-gong"
            id="gong-sound"
            onclick="playGongSound()"
            src="/img/gong.png"
            alt="gong"
          />
        </div>
      </div>
      <div class="right">
        <div class="animation-control">
          <h2 class="titre-table">Table <%= tableNum %></h2>
          <div class="row">
            <input
              class="input-animation"
              type="text"
              id="animation-name"
              placeholder="Animation/Catégorie"
            />
            <button class="btn-1" id="updateAni">Afficher Info</button>
          </div>
        </div>
        <!-- Durée des combats-->
        <div class="timer-controls">
          <label for="time-select">Durée du combat :</label>
          <select id="time-select">
            <option value="90">1 minute 30sec</option>
            <option value="120">2 minutes</option>
            <option value="180" selected>3 minutes</option>
            <option value="240">4 minutes</option>
            <option value="300">5 minutes</option>
          </select>
          <button class="btn-1" id="set-time">⏱️ Valider Temps</button>
        </div>

        <div>
          <div id="winner-display" style="display: none">
            <!-- Initially hidden -->
            <span id="winner-text">🏅 Vainqueur: </span>
            <span id="winner-color" style="color: white"></span>
            <!-- Text will be Judoka Blanc or Judoka Rouge -->
          </div>
          <button class="btn-1" id="designate-winner">
            🏅 Afficher Vainqueur
          </button>
        </div>
      </div>
    </section>

    <!-- Nom des judokas-->
    <div class="name-container">
      <div class="judoka-info white" id="white-judoka-info">
        <h3>Blanc (en cours)</h3>
        <input type="text" id="white-name" placeholder="Nom du Judoka Blanc" />
        <input type="text" id="white-club" placeholder="Club du Judoka Blanc" />
      </div>
      <div class="judoka-info red" id="red-judoka-info">
        <h3>Rouge (en cours)</h3>
        <input type="text" id="red-name" placeholder="Nom du Judoka Rouge" />
        <input type="text" id="red-club" placeholder="Club du Judoka Rouge" />
      </div>
    </div>

    <div class="scores-container">
      <div class="score white" id="white">
        <h2 class="title-h2">Score</h2>
        <div class="points">
          <div class="row">
            <span
              >Ippon: <span class="big-number" id="white-ippon">0</span></span
            >
            <div class="column">
              <button class="btn-1" onclick="modifyScore('white', 'ippon', 1)">
                ➕
              </button>
              <button class="btn-1" onclick="modifyScore('white', 'ippon', -1)">
                ➖
              </button>
            </div>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span
              >Waza-Ari:
              <span class="big-number" id="white-wazari">0</span></span
            >
            <div class="column">
              <button class="btn-1" onclick="modifyScore('white', 'wazari', 1)">
                ➕
              </button>
              <button
                class="btn-1"
                onclick="modifyScore('white', 'wazari', -1)"
              >
                ➖
              </button>
            </div>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span
              >Kinza: <span class="big-number" id="white-kinza">0</span></span
            >
            <div class="column">
              <button class="btn-1" onclick="modifyScore('white', 'kinza', 1)">
                ➕
              </button>
              <button class="btn-1" onclick="modifyScore('white', 'kinza', -1)">
                ➖
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="score red" id="red">
        <h2 class="title-h2">Score</h2>
        <div class="points">
          <div class="row">
            <span>Ippon: <span class="big-number" id="red-ippon">0</span></span>
            <div class="column">
              <button class="btn-1" onclick="modifyScore('red', 'ippon', 1)">
                ➕
              </button>
              <button class="btn-1" onclick="modifyScore('red', 'ippon', -1)">
                ➖
              </button>
            </div>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span
              >Waza-Ari: <span class="big-number" id="red-wazari">0</span></span
            >
            <div class="column">
              <button class="btn-1" onclick="modifyScore('red', 'wazari', 1)">
                ➕
              </button>
              <button class="btn-1" onclick="modifyScore('red', 'wazari', -1)">
                ➖
              </button>
            </div>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span>Kinza: <span class="big-number" id="red-kinza">0</span></span>
            <div class="column">
              <button class="btn-1" onclick="modifyScore('red', 'kinza', 1)">
                ➕
              </button>
              <button class="btn-1" onclick="modifyScore('red', 'kinza', -1)">
                ➖
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Exemple pour le joueur blanc -->
    <div class="penalties-container">
      <div class="penalties white" id="white-penalties">
        <h3 class="title-h2">Shido</h3>
        <div class="shido-container">
          <button class="btn-1" onclick="modifyShido('white', -1)">➖</button>
          <button class="btn-1" onclick="modifyShido('white', 1)">➕</button>
          <div id="white-shido-icons">
            <!-- Les icônes de Shido seront ajoutées ici par JavaScript -->
          </div>
        </div>
      </div>
      <div class="penalties red" id="red-penalties">
        <h3 class="title-h2">Shido</h3>
        <div class="shido-container">
          <button class="btn-1" onclick="modifyShido('red', -1)">➖</button>
          <button class="btn-1" onclick="modifyShido('red', 1)">➕</button>
          <div id="red-shido-icons">
            <!-- Les icônes de Shido seront ajoutées ici par JavaScript -->
          </div>
        </div>
      </div>
    </div>

    <!--Temps immobilisation -->
    <!-- Exemple pour le joueur blanc -->

    <div class="osaekomi-container">
      <div class="immobilization white" id="white-immobilization">
        <h3 class="title-h2">Immobilisations Blanc</h3>
        <div class="time-display" id="osaekomi-white-timer">0s</div>
        <div id="osaekomi-white-progress"></div>
        <button
          class="btn-1"
          onclick="startImmobilization('white')"
          id="white-osae-komi"
        >
          ▶️ Osae-Komi
        </button>
        <button
          class="btn-1"
          onclick="stopImmobilization('white')"
          id="white-toketa"
        >
          ⏯️ Toketa
        </button>
        <button
          class="btn-1"
          onclick="resetImmobilization('white')"
          id="white-reset-osae-komi"
        >
          🔄 Réinitialiser
        </button>
      </div>

      <div class="immobilization red" id="red-immobilization">
        <h3 class="title-h2">Immobilisations Rouge</h3>
        <div class="time-display" id="osaekomi-red-timer">0s</div>
        <div id="osaekomi-red-progress"></div>
        <button
          class="btn-1"
          onclick="startImmobilization('red')"
          id="red-osae-komi"
        >
          ▶️ Osae-Komi
        </button>
        <button
          class="btn-1"
          onclick="stopImmobilization('red')"
          id="red-toketa"
        >
          ⏯️ Toketa
        </button>
        <button
          class="btn-1"
          onclick="resetImmobilization('red')"
          id="red-reset-osae-komi"
        >
          🔄 Réinitialiser
        </button>
      </div>
    </div>

    <!-- Nouveau Combat -->

    <br />

    <!-- Prochains combattants -->
    <div class="next-fighters name-container">
      <div class="judoka-info white">
        <h3>Blanc (prochain combat)</h3>
        <input
          type="text"
          id="next-white-name"
          placeholder="Nom du Judoka Blanc"
        />
        <input
          type="text"
          id="next-white-club"
          placeholder="Club du Judoka Blanc"
        />
      </div>
      <div class="judoka-info red">
        <h3>Rouge (prochain combat)</h3>
        <input
          type="text"
          id="next-red-name"
          placeholder="Nom du Judoka Rouge"
        />
        <input
          type="text"
          id="next-red-club"
          placeholder="Club du Judoka Rouge"
        />
      </div>
    </div>

    <div class="next-fighters-controls">
      <button id="validate-next-fight">Annoncer Prochain Combat</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
    <script>
      // Supposons que vous ayez déjà chargé la bibliothèque Socket.IO et défini tableId
      const socket = io(); // Initialiser la connexion socket

      // Rejoindre la room de la table spécifique dès que possible
      socket.on("connect", () => {
        socket.emit("joinTable", tableId); // Utiliser l'ID de table dynamique
      });

      // ... votre logique de socket supplémentaire ...
    </script>
  </body>
</html>
