<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Tableau de Contrôle</title>
    <link rel="stylesheet" href="/css/control.css" />
  </head>
  <body>
    <!-- Nom de l'animation-->
    <div class="animation-control">
      <label for="animation-name">Nom de l'animation :</label>
      <input type="text" id="animation-name" placeholder="Nom de l'animation" />

      <label for="logo-url">URL du Logo :</label>
      <input type="text" id="logo-url" placeholder="URL du logo du club" />
      <button onclick="updateAnimationInfo()">
        Mettre à jour l'information
      </button>
    </div>

    <!-- Durée des combats-->
    <div class="timer-controls">
      <label for="time-select">Durée du combat :</label>
      <select id="time-select">
        <option value="90">Mini-Poussins, Poussins : 1 minute 30sec</option>
        <option value="120">Benjamins : 2 minutes</option>
        <option value="180" selected>Minimes à Séniors : 3 minutes</option>
        <option value="240">4 minutes</option>
        <option value="300">5 minutes</option>
      </select>
      <button id="set-time">Valider</button>
    </div>

    <!-- Chronomètre Principal-->
    <div class="timer">
      <h1>Chronomètre</h1>
      <div class="time">2:49</div>
      <button id="start">Hajime</button>
      <button id="reset">Réinitialiser</button>
    </div>

    <!-- Nom des judokas-->
    <div class="name-container">
      <div class="judoka-info" id="white-judoka-info">
        <h3>Judoka Blanc</h3>
        <input type="text" id="white-name" placeholder="Nom du Judoka Blanc" />
        <input type="text" id="white-club" placeholder="Club du Judoka Blanc" />
      </div>
      <div class="judoka-info" id="red-judoka-info">
        <h3>Judoka Rouge</h3>
        <input type="text" id="red-name" placeholder="Nom du Judoka Rouge" />
        <input type="text" id="red-club" placeholder="Club du Judoka Rouge" />
      </div>
    </div>

    <div class="scores-container">
      <div class="score" id="white">
        <h2>Score Blanc</h2>
        <div class="points">
          <span>Ippon: <span id="white-ippon">0</span></span>
          <button onclick="modifyScore('white', 'ippon', 1)">+</button>
          <button onclick="modifyScore('white', 'ippon', -1)">-</button>
          <hr />
          <span>Waza-Ari: <span id="white-wazari">0</span></span>
          <button onclick="modifyScore('white', 'wazari', 1)">+</button>
          <button onclick="modifyScore('white', 'wazari', -1)">-</button>
          <hr />
          <span>Kinza: <span id="white-kinza">0</span></span>
          <button onclick="modifyScore('white', 'kinza', 1)">+</button>
          <button onclick="modifyScore('white', 'kinza', -1)">-</button>
        </div>
      </div>

      <div class="score" id="red">
        <h2>Score Rouge</h2>
        <div class="points">
          <span>Ippon: <span id="red-ippon">0</span></span>
          <button onclick="modifyScore('red', 'ippon', 1)">+</button>
          <button onclick="modifyScore('red', 'ippon', -1)">-</button>
          <hr />
          <span>Waza-Ari: <span id="red-wazari">0</span></span>
          <button onclick="modifyScore('red', 'wazari', 1)">+</button>
          <button onclick="modifyScore('red', 'wazari', -1)">-</button>
          <hr />
          <span>Kinza: <span id="red-kinza">0</span></span>
          <button onclick="modifyScore('red', 'kinza', 1)">+</button>
          <button onclick="modifyScore('red', 'kinza', -1)">-</button>
        </div>
      </div>
    </div>

    <!-- Exemple pour le joueur blanc -->
    <div class="penalties-container">
      <div class="penalties" id="white-penalties">
        <h3>Pénalités Blanc</h3>
        <div class="shido-container">
          <button onclick="modifyShido('white', 1)">+</button>
          <button onclick="modifyShido('white', -1)">-</button>
          <div id="white-shido-icons">
            <!-- Les icônes de Shido seront ajoutées ici par JavaScript -->
          </div>
        </div>
      </div>
      <div class="penalties" id="red-penalties">
        <h3>Pénalités Rouge</h3>
        <div class="shido-container">
          <button onclick="modifyShido('red', 1)">+</button>
          <button onclick="modifyShido('red', -1)">-</button>
          <div id="red-shido-icons">
            <!-- Les icônes de Shido seront ajoutées ici par JavaScript -->
          </div>
        </div>
      </div>
    </div>

    <!--Temps immobilisation -->
    <!-- Exemple pour le joueur blanc -->

    <div class="osaekomi-container">
      <div class="immobilization" id="white-immobilization">
        <h3>Immobilisations Blanc</h3>
        <div class="time-display" id="osaekomi-white-timer">0s</div>
        <div id="osaekomi-white-progress"></div>
        <button onclick="startImmobilization('white')" id="white-osae-komi">
          Osae-Komi
        </button>
        <button onclick="stopImmobilization('white')" id="white-toketa">
          Toketa
        </button>
        <button
          onclick="resetImmobilization('white')"
          id="white-reset-osae-komi"
        >
          Réinitialiser
        </button>
      </div>

      <div class="immobilization" id="red-immobilization">
        <h3>Immobilisations Rouge</h3>
        <div class="time-display" id="osaekomi-red-timer">0s</div>
        <div id="osaekomi-red-progress"></div>
        <button onclick="startImmobilization('red')" id="red-osae-komi">
          Osae-Komi
        </button>
        <button onclick="stopImmobilization('red')" id="red-toketa">
          Toketa
        </button>
        <button onclick="resetImmobilization('red')" id="red-reset-osae-komi">
          Réinitialiser
        </button>
      </div>
    </div>

    <!-- Désignation Vainqueur -->
    <div>
      <button id="designate-winner">Désigner Vainqueur</button>
      <div id="winner-display" style="display: none">
        <!-- Initially hidden -->
        <span id="winner-text">Vainqueur: </span>
        <span id="winner-color" style="color: white"></span>
        <!-- Text will be Judoka Blanc or Judoka Rouge -->
      </div>
    </div>

    <!-- Nouveau Combat -->
    <button id="new-match">Nouveau Combat</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
