<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Tableau de Score Judo</title>
    <link rel="stylesheet" href="/css/display.css" />
    <!-- Assurez-vous que le chemin est correct -->
  </head>
  <body>
    <div id="display-container">
      <div class="div1">
        <span class="tapis-number"><%= tableNum %></span>
      </div>

      <div class="div2">
        <div id="animation-name-display">Nom de l'animation / Catégorie</div>
      </div>

      <div class="div3">
        <img
          id="club-logo"
          src="/img/cd33_logo.png"
          alt=""
          style="height: 100px"
        />
      </div>
      <div class="div4">
        <div class="info-white-container">
          <div id="white-info" class="judoka-display">
            <h2 id="white-name-display">Judoka Blanc</h2>
            <h3 id="white-club-display">Club :</h3>
          </div>
        </div>
      </div>

      <div class="div5">
        <div class="info-red-container">
          <div id="red-info" class="judoka-display">
            <h2 id="red-name-display">Judoka Rouge</h2>
            <h3 id="red-club-display">Club :</h3>
          </div>
        </div>
      </div>

      <div class="div6">
        <div class="scores-white-container">
          <div class="scores-white-box">
            <div class="ippon-white-box">
              <span id="display-white-ippon">0</span>
              <span>Ippon</span>
            </div>
            <div class="wazari-white-box">
              <span id="display-white-wazari">0</span>
              <span>Waza-Ari</span>
            </div>
            <div class="kinza-white-box">
              <span id="display-white-kinza">0</span>
              <span>Kinza</span>
            </div>
          </div>
          <div class="penalties-white-box">
            <span>Shido</span>
            <div id="display-white-shido"></div>
          </div>
        </div>
      </div>

      <div class="div7">
        <div class="scores-red-container red">
          <div class="scores-red-box">
            <div class="ippon-red-box">
              <span id="display-red-ippon">0</span>
              <span>Ippon</span>
            </div>
            <div class="wazari-red-box">
              <span id="display-red-wazari">0</span>
              <span>Waza-Ari</span>
            </div>
            <div class="kinza-red-box">
              <span id="display-red-kinza">0</span>
              <span>Kinza</span>
            </div>
          </div>
          <div class="penalties-red-box">
            <span>Shido</span>
            <div id="display-red-shido"></div>
          </div>
        </div>
      </div>

      <div class="div8">
        <div class="osaekomi-white-container">
          <div class="row">
            <span class="osaekomi-title">Osae-Komi</span>
            <div id="osaekomi-white-timer">0s</div>
          </div>
          <div id="osaekomi-white-progress" class="progress-bar"></div>
        </div>
      </div>

      <div class="div9">
        <div class="timer-container">
          <div id="main-timer" class="timer-display">3:00</div>
          <div class="progress-bar-container">
            <div
              id="timer-progress"
              class="timer-progress-bar"
              style="width: 100%"
            ></div>
          </div>
        </div>
      </div>

      <div class="div10">
        <div class="osaekomi-red-container">
          <div class="row">
            <span class="osaekomi-title">Osae-Komi</span>
            <div id="osaekomi-red-timer">0s</div>
          </div>
          <div id="osaekomi-red-progress" class="progress-bar"></div>
        </div>
      </div>

      <div class="div11">
        <!-- Prochains combattants -->
        <div id="upcoming-fight" style="color: white">
          se préparent : <span id="upcoming-red" style="color: red"> </span>
          <span class="redtextLeft">(</span
          ><span id="upcoming-red-club" style="color: red"> </span
          ><span class="redtextRight">)</span> /
          <span id="upcoming-white" style="color: white"> </span
          ><span class="whitetextLeft">(</span
          ><span id="upcoming-white-club" style="color: white"> </span
          ><span class="whitetextRight">)</span>
        </div>
      </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/display.js"></script>
    <script>
      // Supposons que vous ayez déjà chargé la bibliothèque Socket.IO et défini tableId
      const socket = io(); // Initialiser la connexion socket

      // Rejoindre la room de la table spécifique dès que possible
      socket.on("connect", () => {
        socket.emit("joinTable", tableId); // Utiliser l'ID de table dynamique
      });

      // ... votre logique de socket supplémentaire ...
    </script>
  </body>
</html>
