<!DOCTYPE html>
<html>
  <head>
    <title>Accueil ScoreBoard Judo</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <section class="container">
      <div class="logo-titre">
        <img class="logo-cd33" src="/img/cd33_logo.png" alt="logo CD33" />
        <h2 class="titre-h2">Tableau de Score</h2>
        <h3 class="cd33">CD33</h3>
      </div>
      <form class="form" action="/login" method="post">
        <div>
          <label class="label">Identifiant :</label>
          <input class="input" type="text" name="username" required />
        </div>
        <div>
          <label class="label">Mot de passe :</label>
          <input class="input" type="password" name="password" required />
        </div>
        <div>
          <button class="btn" type="submit">Connexion</button>
        </div>
      </form>
    </section>
  </body>
</html>
