@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 800px;
  height: 100vh;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

/*-- Reusable --*/
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
}

.column {
  display: grid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
  /* width: 100%; */
}

.center{
  align-items: center;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-size: 14px;
}

.btn-1 {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  background-color: #ededed;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.btn-1:hover {
  cursor: pointer;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
  border: 1px solid #666;
}

.btn-1.active {
  background-color: green;
  color: white;
}

.red {
  background-color: rgb(252, 121, 121);
}

.white {
  background-color: rgb(244, 244, 244);
}


/*- Chrono-Reset Container --*/
.timer_animation_winner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.chrono-container{
  background-color: rgb(194, 145, 255);
  width: 100%;
}

.left{
  margin: auto;
  padding: 15px;
  height: 100%;
  border: 1px solid #111;
}

.reset-new{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: space-between;
}

.right{
  display: grid;
  flex-direction: column;
  width: 100%;
  border: 1px solid #111;
  gap: 5px;
  padding: 15px;
  background-color: rgb(194, 145, 255);
}

.img-gong{
  width: 75px;
  cursor: pointer;
  margin-left: 50px ;
  transform: translateY(50px);
}

.img-gong:hover{
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,.3));
}

#time-select{
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
}

.titre-table {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  background-color: #111;
  color: #FFF;
  width: 100%;
  padding: 15px;
}

#updateAnimation{
  width: 70%;
  margin-left: 40px;
}

#set-time, #designate-winner{
width: 100%;
}

/*-- Animation --*/
.animation-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-animation{
  display: flex;
  width: 100%;
  flex: 1;
}

/*-- Container --*/
.scores-container,
.penalties-container,
.osaekomi-container,
.name-container,
.next-fighters {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.penalties-container{
  max-height: 100px;
}

.score,
.penalties,
.immobilization,
.judoka-info,
.next-judoka-info {
  border: 1px solid #111;
  padding: 10px;
  /* margin: 5px 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
}



/* Noms & Clubs */
.judoka-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.judoka-info h3 {
  margin-bottom: 5px;
}


.time {
  text-align: center;
  font-size: 125px;
  font-weight: 600;
  width: 100%;
}

.btn-container1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  gap: 15px;
}

.btn-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  gap: 15px;
}

.title-h2{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.big-number{
  font-size: 60px;
  font-weight: 600;
  margin: 0px 30px;
}

.separator{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000;
}

.points{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.points hr{
  width: 100%;
  background-color: #111;
  color: #111;
  height: 1px;
}

.points span {
  margin-right: 5px;
}

/* SHIDO -*/
.shido-icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-color: yellow;
  color: black;
  margin: 0 0 0 25px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  border-radius: 5%;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
}

.btn-shido{
  margin-right: 10px;
  margin-top: 5px;
}

.shido-icon>span {
  display: inline-block;
  vertical-align: middle;
}

.shido-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 36px;
}


#osaekomi-white-timer, #osaekomi-red-timer{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #444;
}

#winner-display{
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#winner-text, #winner-color{
  color: white;
}

.icon{
  font-size: 16px;
  line-height: 1.2;
}

#red-reset-osae-komi, #white-reset-osae-komi{
  margin-top: 10px;
}

#next-white-name, #next-red-name{
  margin-top: 10px;
}

#validate-next-fight{
  width: 100%;
  margin-top: 5px;
}

#designate-winner{
    margin-top: 5px;
}

#white-name, #white-club, #red-name, #red-club, #next-white-name, #next-red-name,
#next-white-club, #next-red-club{
  height: 35px;
}