/* display.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #111;
  color: #111;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

#display-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 10px; */
}

.info-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  width: 100%;
  height: 25vh;
  background-color: rgb(193, 193, 193);
}

.info-red-container{
  text-align: right;
  padding-right: 50px;
}

.judoka-display{
  width: 100%;
  padding: 0px 25px;
}

#white-name-display, #red-name-display{
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 600;
}

#white-club-display,
#red-club-display {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  transform: translateY(-30px);
}

.osaekomi-timer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
}

.timer-display {
  color: #eee;
  font-size: 200px;
  font-weight: 600;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar-container {
  width: 100%;
  /* ou une largeur spécifique */
  background-color: #eee;
  /* couleur de fond de la barre de progression */
}

.timer-progress-bar {
  height: 30px;
  /* ou une hauteur spécifique */
  background-color: #4caf50;
  /* couleur de la barre de progression */
  width: 100%;
  /* Démarre pleine, sera ajustée dynamiquement */
}

.red{
  background-color: rgb(247, 43, 43);
  color: white;
}

.white {
  background-color: rgb(255, 255, 255);
}
/*------------------------------------------*/
.scores-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-around; */
    /* width: 100%; */
    height: 50vh;
    /* transform: translateY(-50px); */
}

.scores-white-container, .scores-red-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.scores-white-box, .scores-red-box{
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.ippon-white-box, 
.ippon-red-box, 
.wazari-white-box, 
.wazari-red-box,
.red-white-box,
.kinza-white-box,
.kinza-red-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
}

#display-white-ippon,
#display-red-ippon,
#display-white-wazari,
#display-red-wazari,
#display-white-kinza,
#display-red-kinza{
  font-size: 300px;
  font-weight: 600;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}


.penalties-white-box,
.penalties-red-box{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  align-items: center;
  text-align: center;
  background-color: #0000002f;
  font-size: 25px;
  font-weight: 600;
  transform: translateY(-60%);
}

.penalties-white-box span,
.penalties-red-box span{
  font-size: 50px;
  flex: 600;
  color: #111;
}


.shido{
  padding: 10px 15px;
  border: 1px solid black;
  background-color: rgb(255, 255, 99);
  /* max-height: 50px; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
  color: #111;
}

.display-white-shido, .display-red-shido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #111;
}

.progress-bar {
  height: 30px;
  /* Hauteur de la barre */
  width: 0%;
  /* Largeur initiale */
  background-color: white;
  /* Couleur initiale */
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  /* Transition douce */
}

.osaekomi-white-container, .osaekomi-red-container{
  width: 100%;
  height: 100%;
  background-color: rgb(169, 169, 169);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.osaekomi-title{
  font-size: 40px;
  font-weight: 600;
  color: #111;
  padding: 20px 20px;
  transform: translateY(20px);
}

#osaekomi-white-timer, #osaekomi-red-timer{
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  padding-right: 50px;
  color: #111;
}

#osaekomi-white-progress, #osaekomi-red-progress{
    height: 30px;
      /* ou une hauteur spécifique */
      background-color: #4caf50;
      /* couleur de la barre de progression */
      width: 100%;
      /* Démarre pleine, sera ajustée dynamiquement */
}
